.navbar{
    background-color: #343a40;
    padding: 20px 10px;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar a{
    color: white;
    padding: 8px 12px;
    background-color: #007bff;
    border-radius: 3px;
}